$gotham-font: 'Gotham';
$roboto-font: 'Roboto', sans-serif;
$primary-color: #a69895;
$white-color: #fff;
$green-color: #50a684;
$dark-green-color: #38745c;
$pale-green-color: #e1faf4;
$light-grey-color: #bfb7b6;
$pale-grey-color: #E6E6E6;
$wolf-grey-color: #e6e2e1;
$brown-color: #70544f;
$smoky-white: #f8f8f8;
$light-smoky-white: #f1f1f1;
$dark-smoky-white: #ededed;
$dark-red-color: #c21313;
$light-telegrey: #ccc;
$light-orange-color: #ffd8a6;
$dark-orange: #eb5757;
$pale-blue-color: #f4f4f8;