@import './_reset';
@import './_fonts';
@import './variables';
@import './mixins';

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $primary-color;
  line-height: 1.3;
}

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;

  @media(max-width: 1201px){
    max-width: 992px;
  }

  @media(max-width: 993px){
    max-width: 768px;
  }

  @media(max-width: 769px){
    max-width: 576px;
  }
}

.row{
  @include flex;
}

.row-center{
  @include flex-align(center);
}

.wrapper-relative{
  position: relative;
}

.c-pointer{
  cursor: pointer;
}
